<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="baseUrl" value="https://www.dr.dk/tjenester/mimer/api/v3"/>
    <add key="numDefaultArticles" value="10"/>
    <add key ="editorialKey" value="forside@dr.dk"/>    
  </appSettings>
</configuration>